{% extends 'base.html' %}

{% block content %}
	<style>
		.currencies {display: grid;margin-top: 5em;}
	</style>

	<div class="about">
		<h2><b>Что такое криптовалюта?</b></h2>
		<img src="/static/images/about_1.png" alt="Здесь должен был быть рисунок, но я его потерял" height="80%" width="80%">
		<p><b>Криптовалюта</b> – это цифровые деньги, фиатного аналога которым не существует. Крипта отличается от других электронных валют тем, что защищена и зашифрована с помощью специальных криптографических алгоритмов. Главной особенностью криптовалюты считается ее децентрализованность, независимость от единого центра управления.
		</p>
		<p>Ни один банк, ни одна государственная структура или же частная организация не может управлять криптовалютами и влиять на совершенные внутри системы транзакции, поскольку данные о процессах хранятся на множестве устройств одновременно. Подделать или изменить такую информацию по желанию одного человека невозможно, а значит, криптовалюта надежно защищена от цифровых мошенников.
		</p>
		<p>Все эти особенности обеспечивает технология блокчейн, на принципах работы которой и функционирует криптовалюта. Блокчейн представляет собой распределенную сеть, узлы которой неподконтрольны единому центру и формируют автономную систему по хранению информации.
		</p>
		<p>Все устройства, которые присоединяются к цепочке, получают файл со всеми данными, когда-либо записанными в этой сети. Сохраненная информация формирует блоки, которые доступны для всеобщего просмотра, но не подлежат обратным изменениям.
		</p>
		<h2><b>Как работает криптовалюта</b></h2>
		<img src="/static/images/about_2.png" alt="Здесь должен был быть рисунок, но я его потерял" height="80%" width="80%">
		<p>Рассмотрим принцип, по которому возникает и действует криптовалюта, на примере биткоина. Автором самой популярной крипты считают некого Сатоши Накамото, который с равным успехом может быть как одним человеком, так и группой лиц. Концепцию новой платежной системы, которая обеспечивает анонимность участников, высокую степень защиты и автономности Сатоши представил в 2008 году.
		</p>
		<p>Как работает криптовалюта? Сеть биткоина основана на блокчейне и состоит из объединенных в цепочку блоков транзакций. В каждом таком блоке есть данные о предыдущих блоках, таким образом вся система соединяется в сеть и обеспечивает сохранность информации внутри нее. Данные о транзакциях и действиях в сети при этом обезличены, что обеспечивает анонимность держателей криптовалюты.
		</p>
		<p>Создание новых блоков и запись информации в них происходит благодаря техническим мощностям участников системы – процесс называется майнингом. Те, кто участвует в формировании и генерации новых блоков, получают за это вознаграждение в виде криптовалюты. Создавать блоки и новые биткоины бесконечно не получится, предельный лимит – 21 млн единиц.
		</p>
		<h2><b>Особенности криптовалют</b></h2>
		<p>Криптовалюты – новый вид цифровых денег, который уже давно вошел в обиход и активно используется при осуществлении электронных платежей. Какими характеристиками обладает такая цифровая валюта?
		</p>
		<p><li><b>Адаптивное масштабирование.</b> Для криптовалют существует ряд правил, которые обеспечивают их нормальное функционирование в разных масштабах. Например, алгоритм майнинга биткоина корректируется в зависимости от числа добытых за определенное время блоков. Предусматривается, что при некоторых условиях ограничивается время предложения, а также уменьшается вознаграждение за майнинг (когда объемы добычи сильно увеличиваются).
		</li></p>
		<p><li><b>Криптография.</b> Для криптовалют используется особая система шифрования данных, благодаря которой число созданных монет можно держать под контролем, а также осуществлять транзакции при обмене и расчетах.
		</li></p>
		<p><li><b>Децентрализованность.</b> Фиатные деньги создаются определенными органами, а системы таких валют контролируются из единого центра. Криптовалюты же опираются на одноранговые сети, исключая возможность влиять на цепочку блоков из одной точки.
		</li></p>
		<p><li><b>Цифровой характер.</b> Криптовалюта не существует в физическом виде, она исключительно цифровая. Да, крипту можно обменять на товары или другие виды денег (доллары, евро, вебмани), но сама цифровая валюта существует только в сети.
		</li></p>
		<p><li><b>Доказательство выполнения работы.</b> Основная масса криптовалют действует по системе с доказательством выполнения работы. Она представляет собой формулу, своеобразную капчу, для подтверждения которой нужны определенные вычислительные мощности.
		</li></p>
		<p><li><b>Анонимность.</b> Криптовалютные кошельки зашифрованы, владельцы получают к ним доступ по специальным идентификаторам, никак не связанным с личностью и реальными данными человека. Информация о транзакциях находится в общем доступе, но данные обезличены и не ведут к владельцу криптовалюты.
		</li></p>
		<p><li><b>Стоимость.</b> Цену криптовалюты определяет количество работы, которую нужно выполнить для добычи токенов, дефицит и спрос на монеты могут эту стоимость изменять. Такой вариант определения цены называется системой с доказательством работы (proof-of-work). Также существует вариант подтверждения монет, основанный на доказательстве доли владения (proof-of-stake).
		</li></p>
		<h2><b>Где используется криптовалюта и зачем она нужна</b></h2>
		<img src="/static/images/about_3.png" alt="Здесь должен был быть рисунок, но я его потерял" height="80%" width="80%">
		<p>Несмотря на полностью цифровой характер криптовалют, за них можно приобрести обычные материальные ценности, оплатить услуги. Например, еще в 2017 году в Украине впервые официально заключили сделку о купле-продаже квартиры за криптовалюту. Но кроме очевидного и прямого предназначения цифровых денег, для них существует еще несколько вариантов применения.
		</p>
		<p><b>Анонимные платежи.</b> На рынке есть криптовалюты, которые обеспечивают максимальную анонимность того, кто отправляет платеж. К ним относятся Monero, Zcash и PIVX. Благодаря им можно переводить крупные суммы без каких-либо проблем и препятствий со стороны банков, органов власти.
		</p>
		<p><b>Недорогие денежные переводы.</b> Криптовалютные транзакции осуществляются напрямую, без привлечения третьих лиц, что значит отсутствие больших комиссионных сборов (которые взимают обычные платежные системы). Это позволяет производить платежи за минимальную стоимость, а главное – делать это практически моментально.
		</p>
		<p><em>Например, платформа Ripple (криптовалюта XRP) разработала уникальную технологию, которая позволяет совершать международные транзакции с высокой скоростью. А в сети Litecoin в 2018 году сделали перевод почти на $100 млн, процесс занял всего 2,5 минуты и обошелся отправителю $0,4 (в случае с фиатными деньгами процесс затянулся бы на несколько дней).
		</em></p>
		<p><b>Способ хранить сбережения.</b> Заморозить или заблокировать криптовалютные счета извне практически нереально, так что крипта сегодня может стать неплохим вариантом хранить накопления. Особенно это касается стран, экономическое состояние в которых крайне нестабильно, а доверие банковским системам очень низкое.
		</p>
		<p><b>Инвестиции в стартапы.</b> Появление и распространение криптовалют позволило стартапам проще и быстрее привлекать средства на свои проекты. С другой стороны, цифровые валюты открыли возможность для многих людей вкладываться в перспективные идеи: с помощью криптовалют сделать этом может каждый. Обычно процесс происходит с помощью ICO – формы сбора средств, когда проект привлекает инвестиции и продает желающим специально созданные цифровые токены.
		</p>
		<p><b>Заработок на трейдинге.</b> Принцип получить прибыль прост: торговать на специальной бирже, покупать дешево и вовремя продавать дороже.
		</p>
		<p><b>Способ оплаты в сети.</b> Транзакции в криптовалютной системе совершаются с высокой скоростью и отличаются минимальной комиссией, что делает их идеальным средством для расчетов в Интернете. Это касается виртуальных магазинов, игорных и других ресурсов, где важен быстрый и надежный способ передать деньги или вывести их со счета.
		</p>
		<h2><b>Где взять криптовалюту</b></h2>
		<p>Один из вариантов получения криптовалюты – майнинг. Это процесс, который заключается в добыче виртуальных монет с помощью вычислительной мощности своей техники. Но для майнинга в 2021-м необходимо очень хорошее «железо» и специальное ПО, которые дорого стоят. Что же делать новичкам?
		</p>
		<p><li><b>Использовать криптовалютные краны.</b> Это специальные ресурсы, где можно заработать при помощи кликов, расшифровки капчи, заходов на сайты.
		</li></p>
		<p><li><b>Покупка биткоинов через обменники.</b> Простой, но крайне невыгодный способ добыть криптовалюту. Он заключается в приобретении цифровой валюты через посредников, что подразумевает высокую комиссию.
		</li></p>
		<p><li><b>Покупка с рук.</b> На первый взгляд довольно выгодный вариант, но он самый рисковый. Приобретая крипту у анонимных пользователей, легко попасть в сети мошенников.
		</li></p>
		<p><li><b>Покупка через биржу.</b> Пользоваться биржами относительно безопасно, если это проверенный и надежный ресурс, зарекомендовавший себя на рынке.
		</li></p>
	</div>
{% endblock %}