{% extends 'base.html' %}

{% block content %}
	<title>{% block title %} {{coin['name']}} price today, {{coin['symbol']}} live marketcap, chart {% endblock %}</title>

	<style>

		.currencies {
			display: grid;
			grid-template-columns: 2fr 1fr;
			justify-items: center;
			margin-top: 5em;
		}

		.statistics {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-top: 5em;
		}

	</style>

	<div class="currencies">

		<div class="name">
			<h3>{{ coin['name'] }}</h3>
		</div>

		<div class="price">
			<h3>Price: ${{ coin['price']}}</h3>
		</div>

		<div class="chart">
			<img src="/static/images/chart_7_d.png" alt="Chart" height="100%" width="100%">
		</div>

		<div class="statistics">
			<div class="id_p">
				<h5>id:</h5>
			</div>

			<div class="id">
				<h5>{{ coin['id'] }}</h5>
			</div>

			<div class="name_p">
				<h5>Name:</h5>
			</div>

			<div class="name">
				<h5>{{ coin['name'] }}</h5>
			</div>

			<div class="price_p">
				<h5>Price:</h5>
			</div>

			<div class="price">
				<h5>${{ coin['price']}}</h5>
			</div>

			<div class="market_cap_p">
				<h5>Market Cap:</h5>
			</div>

			<div class="market_cap">
				<h5>${{ coin['market_cap'] }}</h5>
			</div>

			<div class="volume_24h_p">
				<h5>Volume(24h):</h5>
			</div>

			<div class="volume_24h">
				<h5>${{ coin['volume_24h'] }}</h5>
			</div>

			<div class="delta_24h_p">
				<h5>Delta(24h):</h5>
			</div>

			<div class="delta_24h">
				<h5>{{ coin['delta_24h'] }}%</h5>
			</div>

		</div>
	</div>

{% endblock %}
